body { 
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #ffffff;
}

/* ============================= */
/* ====== SLIDER SECTION ======= */
/* ============================= */

.slider {
  width: 80%;
  margin: 30px auto;
  overflow: hidden;
  position: relative;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.slide img {
  width: 100%;
  border-radius: 10px;
}

/* ============================= */
/* ======= FOOTER SECTION ====== */
/* ============================= */


